body{
    background-image:url(https://i.pinimg.com/736x/5b/9d/10/5b9d100cf82183d46ec1b7bd7d94b196.jpg);
    
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color:palevioletred;
    margin-bottom:20px;
}
#meu{
font-family:  Comic Sans MS, Comic Sans, cursive;
}
#cake{
    width: 300px;
    float: left;
    
}
#gallery{
    border:10px ridge brown;
    clear:both;
    margin:0 40px;
    display:flex;
    flex-direction: column;
}
#gallery::after{
    content:"";
    clear:both;
    display:table;
}

#gallery-item{
    margin:20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
